<div class="container mx-auto column-1 mt-10">
  <app-alerta [messageType]="type" [message]="msg" [show]="avisar"></app-alerta>
  <h1 *ngIf="!edit">Nova Empresa</h1>
  <h1 *ngIf="edit">Editar Empresa</h1>
  <form
    [formGroup]="actionFormGroup"
    (ngSubmit)="onSubmit()"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="nome_fantasia"
      >
        Nome Fantasia
      </label>
      <input
        type="text"
        formControlName="nome_fantasia"
        class="shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nome_fantasia"
        placeholder="Yahoo"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold" for="razao_social">
        Razão Social
      </label>
      <input
        type="text"
        formControlName="razao_social"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="razao_social"
        placeholder="JOJO ltda"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="cnpj">
        CNPJ
      </label>
      <input
        type="text"
        formControlName="cnpj"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="cnpj"
        placeholder="00.000.000/0000-00"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        OK
      </button>
    </div>
    <div class="flex items-center justify-between mt-5"
    *ngIf="edit">
      <a
        (click) = addsocio()
        class="bg-sky-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center"
      > 
        <span>Adicionar Socio</span>
      </a>
    </div>
  </form> 
  <form
  *ngIf="showSocioForm"
  [formGroup]="socioFormGroup"
  (ngSubmit)="saveSocio()"
  class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="nome">
      Nome 
    </label>
    <input
      type="text"
      formControlName="name"
      class="shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="nome"
      placeholder="José"
    />
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold " for="email">
      Email
    </label>
    <input
      type="email"
      formControlName="email"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="email"
      placeholder="socio@email.com"
    />
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="cpf">
      CPF
    </label>
    <input
      type="text"
      formControlName="cpf"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
      id="cpf"
      placeholder="000.000.000-00"
    />
  </div>
  <div class="flex items-center justify-between">
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      OK
    </button>
  </div>
</form>
</div>
