
<div class="columns-3 mt-20">
    <mat-card class="example-card w-full bg-cyan-600">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="font-semibold text-cyan-950"><a [routerLink]="['socios']">Socios</a></mat-card-title>
          <!-- mat-card-content> fdsdfsfsfsfsdf </mat-card-content -->
          <span [ngClass]="{'bg-green-50': sociosTotal > 0,'bg-red-50': sociosTotal <= 0}" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{sociosTotal}}</span>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> &nbsp; </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="text-purple-900 font-semibold" style="cursor: pointer;" >
            <a [routerLink]="['empresas']">Empresas</a></mat-card-title>
          <!-- mat-card-content> fdsdfsfsfsfsdf </mat-card-content -->
          <span [ngClass]="{'bg-green-50': empresasTotal > 0,'bg-red-50': empresasTotal <= 0}" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{empresasTotal}}</span>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>  &nbsp; </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="text-cyan-600 font-semibold" style="cursor: pointer;" >
            <a [routerLink]="['users']">Usuários</a></mat-card-title>
          <!-- mat-card-content> fdsdfsfsfsfsdf </mat-card-content -->
          <span [ngClass]="{'bg-green-50': usersTotal > 0,'bg-red-50': usersTotal <= 0}" class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{usersTotal}}</span>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>  &nbsp; </mat-card-content>
    </mat-card>
    </div>
    <style>
      .example-card {
        max-width: 400px;
        margin-bottom: 8px;
      }
    </style>