<div role="alert" *ngIf="show" class="mt-5 mb-3">
  <div
    [ngClass]="{
      'bg-red-500': messageType == 'Erro',
      'bg-green-500': messageType != 'Erro'
    }"
    class="text-white font-bold rounded-t px-4 py-2"
  >
    {{ messageType }}
  </div>
  <div
    [ngClass]="{
      'border-red-400 bg-red-100 text-red-700': messageType == 'Erro',
      'border-green-400 bg-green-100 text-green-700': messageType != 'Erro'
    }"
    class="border border-t-0 rounded-b bg-red-100 px-4 py-3"
  >
    <p>{{ message }}</p>
  </div>
</div>
