<div class="container mx-auto column-1">

  <app-alerta [messageType]="type" [message]="msg" [show]="showAlertMessage"></app-alerta>
  <div class="h-24 mt-5 mb-5 w-full">
    <h1>Usuários</h1>
    <a
      [routerLink]="['action']"
      class="bg-sky-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Adicionar usuário"
        fontIcon="add"
      ></mat-icon>
      <span>Novo</span>
    </a>
  </div>
</div>
<div class="mat-elevation-z8 container mx-auto column-1">
  <div class="w-full aspect-auto">
    <table mat-table [dataSource]="users">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let users">{{ users.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let users">{{ users.email }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let users">
          <a
            [routerLink]="['action', users.id]"
            class="bg-yellow-400 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-5"
          ><mat-icon
              aria-hidden="false"
              aria-label="Adicionar usuário"
              fontIcon="edit"
            ></mat-icon>
            Edit</a
          >
          <a (click)="delete(users.id)" style="cursor:pointer" class="bg-red-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Adicionar usuário"
              fontIcon="close"
            ></mat-icon>
            Delete</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
    >
    </mat-paginator>
  </div>
</div>
