<div class="container mx-auto column-1">
    <app-alerta
      [messageType]="type"
      [message]="msg"
      [show]="showAlertMessage"
    ></app-alerta>
    <div class="h-24 mt-5 mb-5 w-full">
      <h1>Sócios</h1>
      <a
        [routerLink]="['action']"
        class="bg-sky-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Adicionar sócio"
          fontIcon="add"
        ></mat-icon>
        <span>Novo</span>
      </a>
    </div>
  </div>
  <div class="mat-elevation-z8 container mx-auto column-1">
    <div class="w-full aspect-auto">
      <table mat-table [dataSource]="socios">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let socios">{{ socios.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let socios">
            {{ socios.email }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let socios">{{ socios.cpf }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let socios">
            <a
              [routerLink]="['action', socios.id]"
              class="bg-yellow-400 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-5"
              ><mat-icon
                aria-hidden="false"
                aria-label="Alterar sócio"
                fontIcon="edit"
              ></mat-icon>
              Edit</a
            >
            <a
              (click)="delete(socios.id)"
              style="cursor: pointer"
              class="bg-red-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-5"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Adicionar usuário"
                fontIcon="close"
              ></mat-icon>
              Delete</a
            >
            <a
              (click)="listaEmpresas(socios.id,socios.empresas)"
              style="cursor: pointer"
              class="bg-blue-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded inline-flex items-center mr-5"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Ver empresas"
                fontIcon="wallet"
              ></mat-icon>
              Empresas</a
            >
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  
  <div
    [ngClass]="{ hidden: !showSociosModal }"
    class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
  >
    <div class="w-full max-w-lg bg-white shadow-lg rounded-md p-6 relative">
      <div class="flex items-center pb-3 border-b text-black">
        <h3 class="text-xl font-bold flex-1">Empresas</h3>
        <span *ngIf="empresaslist && empresaslist.length == 0">Nenhuma Empresa para listar</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-3.5 ml-2 cursor-pointer shrink-0 fill-black hover:fill-red-500"
          viewBox="0 0 320.591 320.591"
          (click)="showSociosModal = !showSociosModal"
        >
          <path
            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
            data-original="#000000"
          ></path>
          <path
            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
            data-original="#000000"
          ></path>
        </svg>
      </div>
      <div class="my-6">
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200 font-[sans-serif]">
            <thead class="bg-gray-100 whitespace-nowrap">
              <tr>
                <th
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Razão Social
                </th>
                <th
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Nome Fantasia
                </th>
                <th
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  CNPJ
                </th>
                <th
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 whitespace-nowrap">
              <tr *ngFor="let empresa of empresaslist; first as isFirst">
                <td class="px-6 py-4 text-sm text-[#333]">
                  {{ empresa.razao_social }}
                </td>
                <td class="px-6 py-4 text-sm text-[#333]">
                  {{ empresa.nome_fantasia }}
                </td>
                <td class="px-6 py-4 text-sm text-[#333]">
                  {{ empresa.cnpj }}
                </td>
                <td class="px-6 py-4 text-sm text-[#333]">
                  <button
                    class="text-red-500 hover:text-red-700"
                    (click)="desfiliar(socioId, empresa.id)"
                  >
                    Desassociar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="border-t flex justify-end pt-6 space-x-4">
        <button
          type="button"
          class="px-6 py-2 rounded-md text-black text-sm border-none outline-none bg-gray-200 hover:bg-gray-300 active:bg-gray-200"
          (click)="showSociosModal = !showSociosModal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  